<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Names"         type="System.Configuration.NameValueFileSectionHandler" requirePermission="false" />
    <section name="Filepaths"     type="System.Configuration.NameValueFileSectionHandler" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!--Begin Editable Section-->

    <!--Enter name of brick computer below..................................-->
    <add key = "brickName"        value="Brick Name Placeholder"/>


    <!--Enter heartbeat filepath below......................................-->
    <add key = "hbFilepath"       value = "C:\Temp\dtHeartbeat\hbPlaceholder.txt"/>


    <!--Enter heartbeat filepath below......................................-->
    <add key = "reasonFilepath"   value = "C:\Temp\dtReason\reasonPlaceholder.txt"/>

  </appSettings>

  <Names>
    <!--Begin Editable Section-->

    <!--Enter name of brick computer below..................................-->
    <add key = "brickName"        value="Brick Name Placeholder test blah blah"/>
  </Names>

  <Filepaths>
    <!--Enter heartbeat filepath below......................................-->
    <add key = "hbFilepath"       value = "C:\Temp\dtHeartbeat\hbPlaceholder.txt test"/>


    <!--Enter heartbeat filepath below......................................-->
    <add key = "reasonFilepath"   value = "C:\Temp\dtReason\reasonPlaceholder.txt test"/>
  </Filepaths>

</configuration>